body {
    margin: 0;
    padding: 0;

}

.hero {
    background: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}
.cv{
    color: #a2aeba!important;
    font-family: math;
    margin-top: 5px;
}

.about,
.portfolio,
.contact,
.testing,
.skills {
    padding: 80px 0;
}
.carousel-item img{
    max-height: 200px;
    min-height: 200px;
}

.footer {
    background: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

/* contact */
.contact {
    padding: 50px 0;
    color: #000000;
    text-align: center;
}

.contact-container {
    margin: 0 auto;
    overflow: hidden;
}

.contact h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ff9900;
}

.contact p {
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #000000;
}

.contact .row {
    display: flex;
    justify-content: center;
}

.contact .col-md-6 {
    display: flex;
    flex-direction: column;
}

.contact .profile-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact .contact-info {
    margin: 10px 0;
    /* padding: 20px; */
    border-radius: 10px;
    text-align: left;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.contact .contact-info:hover {
    transform: scale(1.05);
}

.contact li {
    margin-bottom: 15px;
    font-size: 1em;
    display: flex;
    align-items: center;
    border: solid 1px green;
    padding: 10px;
}
@media (max-width: 767px) {
    .contact li {
        margin-left: -2.3rem;
    }
}
.contact li i {
    font-size: 1em;
    margin-right: 15px;
    color: #003cff;
}

.contact li a {
    color: #000000;
    text-decoration: none;
}

.contact li a:hover {
    text-decoration: underline;
}

.box-animation {
    animation: fadeInUp 1.5s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Skills */

.skills {
    padding: 50px 0;
    background: linear-gradient(to right, #3498db, #6c5ce7); 
    color: #fff; 
}

.section-heading {
    font-size: 2.5em;
    font-weight: bold;
}

.skill-box {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 180px; 
    padding: 20px;
    border: 1px solid #ddd; 
    transition: background-color 0.3s ease;
}

.skill-box:hover {
    background-color: #b37e7e;
    transform: scale(1.05);
}

.skill-box i {
    font-size: 2em;
    color: #fff;
    width: 50px;
}

.skill-info {
    flex-grow: 1;
}


.image-frame {
    border: 10px solid #17a2b8; 
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(23, 162, 184, 0.5); 
    max-height: 500px;
}
